* {
  box-sizing: border-box;
}
nav {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: #282c34;
}
nav .nav-div .nav-bar {
  flex-direction: row;
  /* display: flex; */
  width: 90%;
  height: 85px;
  line-height: 85px;
  padding: 0;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  position: relative;
}
.nav-bar {
  display: flex;
  /* max-width: 860px; */
}
.nav-link {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: flex-end; */
  position: unset;
  /* height: 85px;
  width: 65%; */
  padding: 0;
}
.liste {
  list-style-type: none;
}
.liste li {
  width: 100px;
}
.nav-linker {
  text-decoration: none;
  color: #a8b2d1;
}
.resume {
  border-radius: 5px;
  padding: 7px 15px;
  border: 1px solid #64ffda;
  color: #64ffda;
  text-align: center;
  text-decoration: none;
}
.column {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  align-items: center;
}
.column a {
  text-decoration: none;
  color: #a8b2d1;
  margin: 20px auto;
  padding: 10px;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
}
.column::after {
  content: "";
  display: block;
  width: 1px;
  height: 130px;
  margin: 0 auto;
  background-color: #a8b2d1;
}
.column a:hover{
  color: #64ffda;
}

.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.lists::after {
  content: "";
  display: block;
  width: 1px;
  height: 130px;
  margin: 0 auto;
  background-color: #a8b2d1;
}
.icon {
  text-decoration: none;
}

.course-link {
  color: #64ffda;
  border: 1px solid #64ffda;
  border-radius: 4px;
  font-size: 14px;
  background-color: transparent;
  padding: 1.25rem;
  line-height: 1;
  text-decoration: none;
  /* cursor: pointer; */
}

.about {
  padding: 200px 0 0;
  display: block;
  margin-bottom: 100px;
}
.para p {
  margin: 0px 0px 15px;
}
.heading {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  white-space: nowrap;
  /* font-size: 32px; */
  font-weight: 600;
  line-height: 1.1;
}
.heading::after {
  content: "";
  display: block;
  position: relative;
  top: 0px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #a8b2d1;
}
.image-wrapper {
  mix-blend-mode: multiply;
}
.image::after {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid #64ffda;
  top: 20px;
  left: 20px;
  z-index: 1;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.skills {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 5px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  color: #a8b2d1;
}
.contactMe {
  width: 150px;
  height: 50px;
  padding-top: 13px;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid #64ffda;
  /* margin: 0 auto; */
  display: block;
}
.contactMe a {
  text-decoration: none;
  color: #64ffda;
}
.list{
  display: none;
  color: white;
}

/* Projects */
.project{
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  white-space: nowrap;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.1;
}
.project::after {
  content: "";
  display: block;
  position: relative;
  top: 0px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #a8b2d1;
}

@media screen and (max-width: 500px), (max-width: 766px) {
  .left {
    display: none;
  }
  .right {
    display: none;
  }
    .nav-link {
      height: 85px;
      width: 100%;
      padding: 0;
    }
    .list{
      display: block;
      color: antiquewhite;
      font-size: 40px;
    }
        .heading::after {
          content: "";
          display: block;
          position: relative;
          top: 0px;
          width: 150px;
          height: 1px;
          margin-left: 20px;
          background-color: #a8b2d1;
        }
}
